* {
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei', 'iconfont';
  font-size: 62.5%;
  background: #f1efed; }

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #333333; }

ol,
ul,
li {
  list-style-type: none; }

input {
  outline: none;
  border: none; }

/*border-radius*/
/*logo size*/
.header {
  padding-top: 30px;
  width: 100%;
  height: 34px;
  background: #ffffff;
  border-bottom: 1px solid #cccccc; }
  .header .enroll {
    width: 100%;
    font-size: 1.6rem;
    text-align: center; }
  .header .close {
    margin: -22px 0 0 2.8%;
    float: left;
    font-size: 1.6rem;
    font-weight: bolder; }

.nav {
  width: 100%;
  height: 42px;
  border-bottom: 1px solid #d8d8d8;
  background: #ffffff; }
  .nav .num {
    float: left;
    width: 29%;
    height: 42px;
    color: #999999;
    font-size: 1.4rem;
    text-align: center;
    line-height: 42px; }
  .nav .num.h {
    color: #ffd161; }
  .nav .icon {
    float: left;
    width: 3%;
    height: 42px;
    color: #999999;
    font-size: 1.4rem;
    text-align: center;
    line-height: 42px; }

.register {
  display: none;
  margin-top: 10px;
  height: auto;
  width: 100%; }
  .register .mobile {
    padding-left: 4%;
    position: relative;
    height: 43px;
    width: 96%;
    font-size: 1.4rem;
    line-height: 43px;
    color: #333333;
    background: #ffffff;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4; }
    .register .mobile .phone {
      width: 99%;
      font-size: 1.4rem;
      line-height: 43px;
      color: #333333; }
    .register .mobile input::-webkit-input-placeholder {
      color: #c7c7cd; }
    .register .mobile .btn {
      position: absolute;
      top: 0;
      right: 3%;
      width: 30%; }
      .register .mobile .btn .shut {
        display: none;
        float: right;
        margin: 14px 4.5% 0 0;
        font-size: 1.4rem;
        line-height: 14px;
        text-align: center;
        color: #cccccc; }
      .register .mobile .btn input {
        float: right;
        margin: 6px 3.5% 0 0;
        height: 28px;
        width: 78px;
        font-size: 1.2rem;
        color: #b6b6b6;
        background: #f7f7f7;
        border: 1px solid #ffffff;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px; }
  .register .not-have {
    height: 10px;
    width: 100%; }
  .register .log-in-one, .register .log-in-two, .register .log-in-three {
    margin: 10px 3.75% 0 3.75%;
    width: 92.5%;
    height: 44px;
    color: #FFFFFF;
    font-size: 1.6rem;
    background: #ffe9b1;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px; }

.deal {
  margin: 15px 3.75%;
  width: 92.5%; }
  .deal .pair {
    float: left;
    width: 12px;
    height: 12px;
    font-size: 1.2rem;
    color: #ffd161;
    line-height: 12px; }
  .deal .empty {
    display: none;
    float: left;
    width: 10px;
    height: 10px;
    line-height: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border: 1px solid #999999; }
  .deal span {
    float: left;
    font-size: 1.2rem;
    color: #999999; }
  .deal a {
    float: left;
    font-size: 1.2rem;
    color: #ffd161; }

.cover {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -39px;
  margin-left: -25%;
  padding: 22px 0;
  width: 50%;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px; }
